.nosotros{
    text-align: justify;
    line-height: 2em;
}

.img-container{
    height: 50%;
}

body{
    font-size: 24px;
}

header{
    background-color: goldenrod;
    color: black;
    padding: 20px;
    margin-top: 0%;
}
section{
    background-color: beige;
    margin-top: 0%;
    margin-bottom: 0%;
    height: 100%;  
}

footer{
    background-color: burlywood;
    
}

h2{
    font-weight: bold;
}

img.card-img-top{
    object-fit: cover; 
    width: 208 px;
    height: 340px;
}
.container{
    text-align: center;
}

.card {
    object-fit: cover; 
    height: 650px;
}

.card-text{
    text-align: justify;
}

.btn btn-primary{
    align-items: flex-end;

}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top{
    margin-bottom: 25px;
}

.img-fluid{

    margin-bottom: 20px;
}